<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $(".button").click(function(){
                //delay of 0.5 secs
                var delay=500;
                //100 ajax call at 0.5 sec delay
                for(var u=0;u<=99;u++){
                    delay = delay + 500;
                    setTimeout(function(){
                    }, delay);
                    getData(u);
                }
            });

            function getData(u){
                $.ajax({
                    type: 'GET',
                    url: 'https://cse5335-mxa4346.herokuapp.com/data?userId='+u,
                    //url: 'http://localhost:3000/data?userId='+u,
                    dataType:'json',
                    contentType:'application/json; charset=utf-8',
                    success: function(data) {
                        $.each(data,function(key,value) {
                            $('#id').append('<div> '+ value.id + '</div>').show("slide", { direction: "left" }, 1000);
                            $('#name').append('<div> '+ value.name + '</div>').show("slide", { direction: "left" }, 1000);
                            $('#age').append('<div> '+ value.age + '</div>').show("slide", { direction: "left" }, 1000);
                            $('#gender').append('<div> '+ value.gender + '</div>').show("slide", { direction: "left" }, 1000);
                        });
                    },
                    error: function (result) {
                        alert("Error - No data!");
                    }
                });
            }
        });
    </script>
</head>
<body>
<h1>Welcome to <%= title %></h1>
<input type = "button" value = "Get Data" class = "button" />
<div class="data">
    <div class="col">
        <div id="id"></div>
    </div>
    <div class="col">
        <div id="name"></div>
    </div>
    <div class="col">
        <div id="age"></div>
    </div>
    <div class="col">
        <div id="gender"></div>
    </div>
</div>
</body>
</html>